<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UFT-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width =device-width, initial-scale=1.0">
        <title> Productos</title>
    </head>
    <body>
        <h1>Productos con oferta</h1>

        <img src="assets\logo1.png" height ="50" width="160" > 
        <h6> Vigente del 07 al 27 de mayo del 2022</h6>
        <table class="default">

            <tr>
          
              <td><div class="galeria">
                <div class="foto">
                    <button onclick="window.location.href='https://super.walmart.com.mx/jugos-y-nectares/nectar-del-valle-clarificado-sabor-manzana-1-l/00750105533386'"> <img src="assets\producto1.png" height ="210" width="70" /> </button>
                 
                </div>
             <div class="">
             <p>Néctar Del Valle® - 1L - 2X$35</p> 
               
              </div>
            </div></td>
           
            <td> </td>
              <td><div class="galeria">
                <div class="foto">

                    <button onclick="window.location.href='https://www.walmart.com.mx/deportes/entrenamiento-y-fitness/elipticas-y-escaladoras/eliptica-magnetica-athletic-works-yk-ct0901b_00693769170437'"> <img src="assets\producto2.png" height ="210" width="230" /> </button>
                </div>
             <div class="">
             <p>Elíptica Magnética De:$3,599.00 a $2,999.00 </p> 
              </div>
            </div> </td>

            <td> </td>
              <td> <div class="galeria">
                <div class="foto">
                    <button onclick="window.location.href='https://super.walmart.com.mx/enlatados-y-conservas/atun-herdez-en-agua-130-g/00750100310548'"> <img src="assets\producto3.png" height ="210" width="190" /> </button>
                </div>
             <div class="">
             <p> Atún Herdez en agua 130g De:$21.00 a $15.65 </p> 
              </div>
            </div></td>
          
            <td> </td>
            <td> <div class="galeria">
              <div class="foto">
                <button onclick="window.location.href='https://super.walmart.com.mx/cuidado-del-cabello/shampoo-pantene-pro-v-control-caida-400-ml/00750100130346'"> <img src="assets\producto4.png" height ="210" width="190" /> </button>
              </div>
           <div class="">
           <p>Champú Pantene Pro V 400 ml 2X$99.00</p> 
            </div>
          </div></td>
            </tr>
        </table>

        
        <img src="assets\logo2.png" height ="50" width="160" > 
        <h6> Vigente del 2 al 20  de mayo del 2022</h6>



        <table class="default">
            <tr>
              <td><div class="galeria">
                <div class="foto">
                    <button onclick="window.location.href='https://www.bodegaaurrera.com.mx/videojuegos/xbox-one/accesorios/control-inalambrico-xbox-one-elite-series-2-negro_00088984261392'"> <img src="assets\producto5.png" height ="210" width="190" /> </button>
                 
                </div>
             <div class="">
             <p>Control Inalámbrico Xbox One Negro De:$4,799.00 a $3,690.00</p> 
               
              </div>
            </div></td>
           
            <td> </td>
              <td><div class="galeria">
                <div class="foto">

                    <button onclick="window.location.href='https://www.bodegaaurrera.com.mx/deportes/entrenamiento-y-fitness/elipticas-y-escaladoras/eliptica-athletic-works-yk-b17_00693769170200'"> <img src="assets\producto6.png" height ="210" width="230" /> </button>
                </div>
             <div class="">
             <p>Elíptica Athletic Works De:$2,299.00  $1,999.00 </p> 
              </div>
             
            </div> </td>

            <td> </td>
              <td> <div class="galeria">
                <div class="foto">
                    <button onclick="window.location.href='https://www.bodegaaurrera.com.mx/linea-blanca/lavadoras-y-secadoras/lavadoras/lavadora-mabe-20-kg-blanca_00075763897246'"> <img src="assets\producto7.png" height ="210" width="190" /> </button>
                </div>
             <div class="">
             <p>Lavadora Mabe 20 Kg Blanca De:$11,990.00 a $10,490.00 </p> 
              </div>
            </div></td>
          
            <td> </td>
            <td> <div class="galeria">
              <div class="foto">
                <button onclick="window.location.href='https://www.bodegaaurrera.com.mx/electrodomesticos/licuadoras-batidoras-y-procesadores-de-alimentos/procesador-de-alimentos/procesador-de-alimentos-nutribullet-rojo_00750223476947'"> <img src="assets\producto8.png" height ="210" width="190" /> </button>
              </div>
           <div class="">
           <p>Procesador De Alimentos Nutribullet De:$3,359.00 a $2,499.00</p> 
            </div>
          </div></td>
            </tr>
        </table>
       
       
          
          
          
         
    </body>
</html>